<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Пользователи</title>
    <script>
        function getUsers() {
            const userDataContainer = document.getElementById('userDataContainer');
            fetch('api/user/')
                .then(response => response.json())
                .then(user => userDataContainer.innerHTML = JSON.stringify(user));
        }
    </script>
</head>

<body>
    <div align="center">
        <button onclick="getUsers()">Вывести пользователей</button>
        <div id = "userDataContainer"></div>

        <div class="create_user">
            <h4>Создать нового пользователя</h4>
            <form action="/api/user/" method="post">
                <label for="name">Имя пользователя</label>
                <input type="text" id="name" name="name" required>
                <label for="login">Логин</label>
                <input type="text" id="login" name="login" required>
                <label for="password">Пароль</label>
                <input type="text" id="password" name="password" required>
                <br>
                <button class="send_button" type="submit">Создать</button>
            </form>
        </div>
    </div>
</body>
</html>
