<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
    <div align="center">
        <label>User list:</label><br/>
        <table>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}">id</td>
                <td> - </td>
                <td th:text="${user.name}">name</td>
                <td> - </td>
                <td th:text="${user.login}">login</td>
                <td> - </td>
                <td th:text="${user.password}">password</td>
        </table>

        <form id="create-form" th:action="@{/addUser}" th:object="${user}" th:method="post" accept-charset="utf-8">
            <lable>username</lable>
            <input type="text" th:value="${name}" name="name"/>
            <lable>login</lable>
            <input type="text" th:value="${login}" name="login"/>
            <lable>password</lable>
            <input type="password" th:value="${password}" name="password"/><br/>
            <button type="submit">Save</button>
        </form>
    </div>
</body>
</html>
